main,
nav,
section {
	display: block;
}

canvas {
	display: inline-block;
}

html {
	font-family: "Raleway";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

html {
	background: #000;
}

body {
	font-family: "Raleway", Oxygen, 'Open Sans', -apple-system, Ubuntu, Cantarell, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #000;
}

/* Color schemes */

.landing__page {
	--color-link: #3c48fa;
	--color-link-hover: #fff;
	--color-title: #fff;
}

.content--canvas {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.content__title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: -5.5vw 0 0 0;
	z-index: 100;
	font-size: 4vw;
	color: var(--color-title);
	line-height: 1;
	font-weight: 300;
}

.content__title__two {
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: -5.5vw 0 0 0;
	z-index: 100;
	font-size: 4vw;
	color: var(--color-title);
	line-height: 1;
	font-weight: 300;
}

.highlight {
	color: rgb(197, 193, 252);
	font-weight: 600;
}

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}

	.content--canvas {
		height: 100vh;
		justify-content: center;
	}
}